@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gradientBg: radial-gradient(#002446 -20%, black 70%);
  --background: #000000;
  --foreground: #FFFFFF;
}

/* Global */

body {
  color: var(--foreground);
  background: var(--gradientBg);
  font-family: var(--font-poppins), sans-serif;
}

/* Typography */

.textDim {
 @apply text-[#8E8E93]
}


/* Components */ 

progress.loading {
  @apply rounded-full overflow-hidden;
  
  &::-webkit-progress-bar {
    @apply rounded-full bg-white bg-opacity-20;
  }
  
  &::-webkit-progress-value {
    @apply rounded-full bg-gradient-to-r from-white from-60% to-[#0C33FE];
  }
}

.dataBoard progress {
  &::-webkit-progress-bar {
    @apply bg-[rgb(2,10,51)];
  }
  
  &::-webkit-progress-value {
    @apply rounded-r-full bg-gradient-to-r from-white from-60% to-[#0C33FE];
  }
}



.circleButton {
  @apply bg-[#161616] border border-[#2C2C2E] rounded-full grid place-content-center;

  &:hover {
    @apply bg-[#292929];
  }
}

.primaryBtn {
  @apply bg-[#0A84FF];
}


  
/* Animation Keyframes */





