@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gradientBg: radial-gradient(#002446 -20%, black 70%);
  --background: #000000;
  --foreground: #FFFFFF;
}

/* Global */

body {
  color: var(--foreground);
  background: var(--gradientBg);
  font-family: var(--font-poppins), sans-serif;
}

/* Typography */

.textDim {
 @apply text-[#8E8E93]
}


/* Components */ 

progress {
  @apply rounded-full overflow-hidden;
  
  &::-webkit-progress-bar {
    @apply rounded-full bg-white bg-opacity-20;
  }
  
  &::-webkit-progress-value {
    @apply rounded-full bg-gradient-to-r from-white to-[#0C33FE];
  }
}

.socialIcon {
  @apply bg-[#161616] border border-[#2C2C2E] rounded-full grid place-content-center;
}



